<div>
    <h3>¿Confirma que desea eliminar <span id="textoEliminarEyS"></span> del listado?</h3>
    <div class="modal-footer gris">
        <input type="submit" id="btnConfirmarElimnarEyS" class="btn btn-success" value="Confirmar" />
    </div>
</div>
