
@{
    ViewBag.Title = "Clientes";
    Layout = "/Views/Shared/_LayoutAlternativo.cshtml";
}
<head>
    <style>
        .logo{
            width:180px;
            height:80px;
        }
    </style>
</head>
<h3 class="w-75 mx-auto p-2 fst-italic">Confiaron en nosotros</h3>


<div class="container-fluid p-2 w-75 mt-5">
    <div class="row">
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/ASCH-logos-02.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/B2jRPLnS_400x400.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/iansa.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/logo-arauco-1.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/workingfire.jpg" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/Municipalidad-de-Chillan-1030x769.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/th_4fdefb5842aa2dc68092ca1241ed9f5d_logoCONAFarbol620x200.jpg" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/Diseño sin título (28).png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/doh.jpg" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/VOLANTE-NUEVO-PATRULLAJE-B-300x186.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/LOGO_HEADER.png" />
        </div>
        <div class="col-md-3 p-3 text-center mb-3">
            <img class="logo" src="~/Content/LogoClientes/logo1.png" />
        </div>
    </div>
</div>

